*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.log.*
.idea/
www/
_dist/
_package/
node_modules/
*/node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
dist
lib
elasticsearch-*
config/base.yaml
_data
rn-kitchen-sink/ios/build
rn-kitchen-sink/ios/bundle/*
rn-kitchen-sink/android/.gradle
rn-kitchen-sink/android/app/build
rn-kitchen-sink/android/build
rn-kitchen-sink/android/app/src/main/assets
rn-kitchen-sink/android/app/src/main/res/drawable*
xcuserdata
components/**/*.jsx
components/**/*.js
my-release-key.keystore
coverage/
